<mat-toolbar color="primary">
  <span>Dawini</span>
  <span class="spacer"></span>
  <ng-container *ngIf="!(isLoggedIn$ | async)">
    <button mat-button [routerLink]="['/login']" style="margin-left: auto;">Connecter</button>
  </ng-container>
  <ng-container *ngIf="isLoggedIn$ | async">
    <button mat-button (click)="logout()" style="margin-left: auto;">Déconnexion</button>
  </ng-container>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" opened="true">
    <mat-nav-list>
      <mat-list-item [routerLink]="['/profil',this.userId]" style="color: rgb(10, 100, 179);">Profil</mat-list-item>
      <mat-list-item [routerLink]="['/patients']" style="color: rgb(10, 100, 179);">Liste Des Patients</mat-list-item>
      <!-- Add more navigation items here -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>

<mat-toolbar color="primary" class="footer">
  <span class="footer-content">© 2024 Copyright: Dawini.fr</span>
</mat-toolbar>
