<div class="login-container">
    <h2>Connexion</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="login-form">
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Nom d'utilisateur</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="loginForm.get('username').hasError('required')">
          Le nom d'utilisateur est requis
        </mat-error>
      </mat-form-field>
  
      <mat-form-field appearance="fill" class="full-width">
        <mat-label>Mot de passe</mat-label>
        <input matInput type="password" formControlName="password" required>
        <mat-error *ngIf="loginForm.get('password').hasError('required')">
          Le mot de passe est requis
        </mat-error>
      </mat-form-field>
  
      <div *ngIf="errorMessage" class="error">{{ errorMessage }}</div>
  
      <button mat-raised-button color="primary" type="submit" class="full-width">
        Se connecter
      </button>
    </form>
  </div>
  