.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    font-family: Arial, sans-serif;
  }
  
  .full-width {
    width: 100%;
    margin-bottom: 15px;
  }